@model List<ReservationDto>
@{
    ViewData["Title"] = "Onay Bekleyen Rezervasyon";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
    int count = 0;
}
@if (Model.Count ==0)
{
    <div class="alert alert-info text-center text-light">
        Onay Bekleyen Rezervasyon Yoktur!
    </div>
}
else
{
    
    <h6>Onay Bekleyen Rezervasyonlarım</h6>

    <table class="table table-hover">
        <thead>
            <tr>
                <th>No</th>
                <th>Rota</th>
                <th>Tarih</th>
                <th>Durum</th>
                <th>Ek Açıklama</th>
                <th>İşlem</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var reservation in Model)
            {
                count++;
                <tr>
                   <td class="text-end">@count</td>
                   <td>@reservation.Destination.City</td>
                   <td>@reservation.Date.ToString()</td>
                   <td>@reservation.Status</td>
                   <td>@reservation.Description</td>
                   <td>
                       <div class="btn-group">
                           <button class="btn btn-danger"><i class="fa fa-trash"></i>Sil</button>
                           <button class="btn btn-success"><i class="fa fa-edit"></i>Güncelle</button>
                       </div>
                   </td>
               </tr>
            }
        </tbody>
    </table>
}